{% extends 'template.html' %}
{% block content %}
<div class="jumbo">
    <h2>RealTicket&trade; Home</h2>
    <br />
    <p><cite>"Wether you believe you can do a thing or believe you can't-- you're right."</cite> said Henry Ford.</p>
    <p> This is RealTicket&trade;. We plan to handle all incoming Ticket traffic from <a href="http://wolfcreekamphitheater.com">wolfcreekamphitheater.com</a> </p>
    <p>RealTicket&trade; is a combination of the latest and greatest web standards and technology
    for a high-performance, secure, and efficient ticket system tailored and designed for its users who
    just might need to manage their transactions and related data-- on the go... You could always use RealTicket&trade; on a Desktop.
    <em>System Status:</em> Currently 'under accelerated development'.</p>
    <p>Click<a href="/realticket"> here</a> to see more.</p>
</div>
{% endblock %}
