{% extends 'oct16.html'%}
{% block content %}
<div class="container"><br />
    <center><div class="jumbotron">
<h1><span class="glyphicon glyphicon-dashboard"></span><br />
    <span class="glyphicon glyphicon-compressed"></span> {jumbotron} {oid}{o_name}{act_}{acttime_} <span class="glyphicon glyphicon-pushpin"></span></h1>
<h2><p><span class="glyphicon glyphicon-file"></span> {jumbotron_paragraph}</p></h2>
<a class="btn btn-warning" href="/hello"><span class="glyphicon glyphicon-step-backward"></span>Go Back</a>
<a class="btn btn-danger" href="/logout"><span class="glyphicon glyphicon-stop"></span> Log Out</a>
	<a href ="#" class="btn btn-default">Refresh Console <span class="glyphicon glyphicon-retweet"></span></a>
	<a href ="/ticketpurchase" class="btn btn-success">Simulate Purchase <span class="glyphicon glyphicon-transfer"></span></a>
	<a href ="#" class="btn btn-info">Write A Note <span class="glyphicon glyphicon-pencil"></span></a><br />
	<cite>Note: This is the view of the Administrator.</cite>
	
	
	<!--<a href ="#" class="btn btn-danger">Close Event</a>--></center>
	</div>	
</div><br />

<center>
<span class="glyphicon glyphicon-eye-open"></span>    
<span class="glyphicon glyphicon-eye-open"></span><br />
            <span class="glyphicon glyphicon-tasks"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-credit-card"></span>
            <span class="glyphicon glyphicon-gift"></span>
            <span class="glyphicon glyphicon-stats"></span>
            <span class="glyphicon glyphicon-sort"></span>
            <span class="glyphicon glyphicon-flash"></span>
            <span class="glyphicon glyphicon-transfer"></span>
            <span class="glyphicon glyphicon-export"></span>
            <span class="glyphicon glyphicon-phone-alt"></span>
            <span class="glyphicon glyphicon-phone"></span>
            <span class="glyphicon glyphicon-heart-empty"></span>
            <span class="glyphicon glyphicon-link"></span>
            <span class="glyphicon glyphicon-globe"></span>
            <span class="glyphicon glyphicon-paperclip"></span>
            <span class="glyphicon glyphicon-deciduous"></span>
            <span class="glyphicon glyphicon-random"></span>
            <span class="glyphicon glyphicon-fire"></span>
            <span class="glyphicon glyphicon-leaf"></span>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="glyphicon glyphicon-eye-close"></span>
            <span class="glyphicon glyphicon-certificate"></span>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <span class="glyphicon glyphicon-ok-circle"></span>
            <span class="glyphicon glyphicon-tint"></span>
            <span class="glyphicon glyphicon-paperclip"></span>
            <span class="glyphicon glyphicon-print"></span>
            <span class="glyphicon glyphicon-picture"></span>
            <span class="glyphicon glyphicon-trash"></span>
            <span class="glyphicon glyphicon-road"></span>
            <span class="glyphicon glyphicon-user"></span>
            <span class="glyphicon glyphicon-asterick"></span>
            <span class="glyphicon glyphicon-glass"></span>
            <span class="glyphicon glyphicon-music"></span>
            <span class="glyphicon glyphicon-lock"></span>
            <span class="glyphicon glyphicon-flag"></span>
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span class="glyphicon glyphicon-inbox"></span>
            <span class="glyphicon glyphicon-envelope"></span>
            <span class="glyphicon glyphicon-film"></span>
</center>
{% endblock %}
