<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<title>
RealConsole&trade;
</title>
<meta charset="utf-8" />
<!--meta http-equiv="X-UA-Compatible" contents="IE=edge"-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" contents="" />
<meta name="author" contents="RealMaster Montavious" />
<link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='dist/css/carousel.css') }}" rel="stylesheet" />
</head>

<!--body onload="checkCookie()"-->
<body>
<center><h1>RealTicket <span class="glyphicon glyphicon-cloud-upload"></span> Cloud</h1></center>


<div class="navbar-inverse navbar-static-top">
	<div class="container"> 
	                <a href="#" class="navbar-brand">RealTicket <span class="glyphicon glyphicon-cloud"></span> Cloud Console</a> 
	        <button class="navbar-toggle" data-toggle="collapse"data-target=".navHeaderCollapse"> 
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span> 
	                        <span class="icon-bar"></span>
	                         
	                         
	         </button> 
	                <div class="collapse navbar-collapse navHeaderCollapse">
						 <ul class="nav navbar-nav navbar-right">
						  <li class="active"><a href="#">Console <span class="glyphicon glyphicon-dashboard"></span></a></li>
						  <li><a href="#">Comments <span class="glyphicon glyphicon-comment"></span></a></li>
						  <li><a href="#">Transactions <span class="glyphicon glyphicon-list"></span></a></li> 
						  <li><a href="#">Venue <span class="glyphicon glyphicon-book"></span></a></li> 
						  <li><a href="#">Revenue <span class="glyphicon glyphicon-briefcase"></span></a></li>
						 </ul> 
					</div> 
	     </div> 
</div>

</center>

<div class='container'>
    {% block content %}
    {% endblock %}
</div>
<center>
<span class="glyphicon glyphicon-eye-open"></span>    
<span class="glyphicon glyphicon-eye-open"></span><br />
            <span class="glyphicon glyphicon-tasks"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-credit-card"></span>
            <span class="glyphicon glyphicon-gift"></span>
            <span class="glyphicon glyphicon-stats"></span>
            <span class="glyphicon glyphicon-sort"></span>
            <span class="glyphicon glyphicon-flash"></span>
            <span class="glyphicon glyphicon-transfer"></span>
            <span class="glyphicon glyphicon-export"></span>
            <span class="glyphicon glyphicon-phone-alt"></span>
            <span class="glyphicon glyphicon-phone"></span>
            <span class="glyphicon glyphicon-heart-empty"></span>
            <span class="glyphicon glyphicon-link"></span>
            <span class="glyphicon glyphicon-globe"></span>
            <span class="glyphicon glyphicon-paperclip"></span>
            <span class="glyphicon glyphicon-deciduous"></span>
            <span class="glyphicon glyphicon-random"></span>
            <span class="glyphicon glyphicon-fire"></span>
            <span class="glyphicon glyphicon-leaf"></span>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="glyphicon glyphicon-eye-close"></span>
            <span class="glyphicon glyphicon-certificate"></span>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <span class="glyphicon glyphicon-ok-circle"></span>
            <span class="glyphicon glyphicon-tint"></span>
            <span class="glyphicon glyphicon-paperclip"></span>
            <span class="glyphicon glyphicon-print"></span>
            <span class="glyphicon glyphicon-picture"></span>
            <span class="glyphicon glyphicon-trash"></span>
            <span class="glyphicon glyphicon-road"></span>
            <span class="glyphicon glyphicon-user"></span>
            <span class="glyphicon glyphicon-asterick"></span>
            <span class="glyphicon glyphicon-glass"></span>
            <span class="glyphicon glyphicon-music"></span>
            <span class="glyphicon glyphicon-lock"></span>
            <span class="glyphicon glyphicon-flag"></span>
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span class="glyphicon glyphicon-inbox"></span>
            <span class="glyphicon glyphicon-envelope"></span>
            <span class="glyphicon glyphicon-film"></span>
</center>

<!--
<div class="item">
  <img src="..." alt="...">
  <div class="carousel-caption">
    <h3>...</h3>
    <p>...</p>
  </div>
</div>

<form action="../../cgi-bin/oct15.cgi" method="post">
<fieldset>
	<legend>RealTicket&trade; Login</legend>
	<label>Operator Name: <input type="text" name="O_Name" width=33></label><br /><br />
	<label>Operator Password: <input type="password" name="Real_Pass" width=33></label><br /><br />
	<input type="submit" value="Login"><br />
</fieldset>
</form>-->
<div class="nav-bar navbar-default navbar-fixed-bottom"> 
        <div class="container">
	
                <p class="navbar-text pull-left">Built By RealMaster<span class="glyphicon glyphicon-magnet"></span></p> 
                <a class="navbar-btn btn-success btn pull-right">Follow on Instagram</a> 
        </div> 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
</body>
</html>
