<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Create a RealEvent&trade;</title>
		<link rel="stylesheet" type="text/css" src="#"/>
		<script language="javascript" src="oct16.js"></script>
		<meta http-equiv="X-UA-Compatible" contents="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" contents="" />
		<meta name="author" contents="RealMaster Montavious" />
		<link href="bootstrap.min.css" rel="stylesheet" />
		<link href="carousel.css" rel="stylesheet" />
	</head>
	<body>
		<center><h1>Create a RealEvent&trade; Now >>> </h1></center>
		
		<div class="navbar-inverse navbar-static-top">
			<div class="container"> 
			                <a href="#" class="navbar-brand">RealTicket&trade; Console</a> 
			        <button class="navbar-toggle" data-toggle="collapse"data-target=".navHeaderCollapse"> 
			                        <span class="icon-bar"></span> 
			                        <span class="icon-bar"></span> 
			                        <span class="icon-bar"></span> 
			                        <span class="icon-bar"></span> 
			         </button> 
			                <div class="collapse navbar-collapse navHeaderCollapse">
								 <ul class="nav navbar-nav navbar-right">
								  <li class="active"><a href="#">Monitor</a></li>
								  <li><a href="http://believe.alwaysdata.net/realticket/Mouse/oct13.html">Comments</a></li>
								  <li><a href="http://believe.alwaysdata.net/realticket/Mouse/oct1101.html">
									Transactions</a></li> 
								  <li><a href="#">Venue</a></li> 
								  <li><a href="#">Revenue</a></li>
								 </ul> 
							</div> 
			     </div> 
		</div>
		<div class="container">
			<br /><div class="jumbotron">
				<a href="realticketdaemon.html" class="navbar-btn btn-warning btn pull-right">Go Back</a>
		<form action="masteroct23.py" method="post">
			<legend>First, Specify Event Details: >>></legend>
			    <center><label for="venue">Venue:<select name="venue">
			    	<option>Wolf Creek</option>
			    </select></label><br />
				<label for="ecode2">New Event Code Name:<input name="ecode2" type="text" placeholder="{MOUSE-0001}"/>Shall I Auto-Generate One?: <input name="ecode" type="checkbox" checked />*</label><br required/>
				<label>New Event Headline:<input name="eheadline" type="text" placeholder="Who's Featured?" autofocus required />*</label><br />
				<label for="description">New Event Description:<textarea cols=40 rows=2 name="description" required>"Presenting..."</textarea>*</label><br />	
				
				<label>Date & Time of Event:<input name="etime" type="datetime-local" required/>*</label><br />
				<label>Select New Event Image (640px by 640px*)*:<input name="imago" type="file" value=".png,.jpg,.gif" required /></label><br />			
				<label>Select Event Frame Color:<input name="rcolor" type="color" required />*</label><br /><br />				
				</fieldset></center>
				
				<fieldset>
				<legend>Now, Specify Section Prices: >>></legend></center>	
				<label>1 (VIP TABLE):<input name="vip" type="number" placeholder="100"required />$*</label><br />
				<label>2 (RESERVED ROWS A-F):<input name="atf" type="number"required placeholder="75"/>$*</label><br />
				<label>3 (RESERVED ROWS G-L):<input name="gtl" type="number"placeholder="50" required />$*</label><br />
                <label>4 (GENERAL ADM(FREE FOR AGES 12 AND UNDER)):<input name="gad" type="number" placeholder="30" required />$*</label><br />
				<label>5 (RESERVED ROW M(WHEELCHAIR SEATS)):<input name="rwc" type="number"placeholder="70" required />$*</label><br />
				<label>6 (GENERAL ADM(GA WHEELCHAIR ACCESSIBLE)):<input name="gadrwc" type="number"placeholder="25" required />$*</label><br /><br />
				</fieldset>
				
				<fieldset>
					<center><legend>Finally, Verify Your RealMaster Permissions: >>></legend>
					<small>Select to assert that you are authorized to perform act and that everything is correct and ready to publish then submit:</small><input type="radio" required><br />
					<label for="oname">Operator Name:{o_name}<input name ="oname" type="hidden" /><input type="checkbox" checked required/></label><br />
					<label for="Act">Act in Progress:Create a New Event<input name="Act" type="hidden"/></label><br />
					<label for="acttime">Current TimeStamp:{acttime_}<input type="hidden" name="acttime"/></label><br />
					<label for="tele">Operator Phone #:<input type="tel"name="tele" placeholder="404-664-3086" /></label><br />
					<label for="treemail">Operator Email Address:<input name="treemail" type="email" placeholder="you@youremail.com" required/>*</label><br />
					<label>RealMaster Password:<input name="Real_Pass" type="password" placeholder="YouKnow" required />*</label><br />
					<label>Submit:<input type="submit"/></label><br /><br />
					<label>Be sure to immediately return and 'Men In Black' the whole document for extra security <em>after</em> a successful Creation! Until the Next <strong>RealEvent&trade;</strong><input type="reset"/></label></fieldset><br /><br />

					<fieldset>
				
				
		</form>
		</div>
		</div>
		<div class="nav-bar navbar-default navbar-fixed-bottom"> 
		        <div class="container"> 
		                <p class="navbar-text pull-left">Built By RealMaster</p> 
		                <a class="navbar-btn btn-success btn pull-right">Follow on Instagram</a> 
		        </div> 
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="bootstrap.min.js"></script>
		<p>
			This will be an image.<br /><br />
		<p/>
						
	</body>
</html>