{% extends 'template.html' %}
{% block content%}
<br />
<div class="jumbotron">
<center>
    <h2>An example of QR Codes (Quick Response Code) Technology:</h2>
    <h1>Enter text or numbers into field...</h1>
    <input id="qrcode_text" type="text" name="text" onchange="update_qrc_img();" /><br />
    <br />
    <img id="qrcode_img" src="/qr/test" />
    <h3>Now just press enter</h3>
</center>
<p><a class="btn btn-warning" href="/hello">Go Back</a></p>
<p><a class="btn btn-danger" href="/logout">Log Out</a></p>
</div>
{% endblock %}
