{% extends 'oct16.html' %}
{% block content %}
<h2><center>Purchase RealTickets&trade;</center></h2>
    {% if error %}
    <p class=error><center><strong>ERROR!!!</strong> {{ error }} </center>    
    {% endif %}
    <center>
    {% for message in get_flashed_messages() %}
    <div class=flash>
        <center>{{ message }}</center>
    </div> <br />
    {% endfor %}
<div class="container"><br />
    <center><span class="glyphicon glyphicon-shopping-cart"></span>
        <div class="jumbotron" ng-app=""><h1>
        <span class="glyphicon glyphicon-credit-card"></span><br />
            <span class="glyphicon glyphicon-lock"></span> <span class="glyphicon glyphicon-certificate"></span></h1>
	<p><span class="glyphicon glyphicon-credit-card"></span> {baalbalan_paragraph}
    <form action="/RealTicket" method=post>
        <legend>Purchaser's Info</legend>
        <dl>
            <dt><label ng-bind="Name" for=cname>Cardholder's Name:
                <dd><input type=text name=cname ng-model="Name" placeholder="Cardholder's Name" title="Name must match Cardholder's" value='{{ request.form.cname }}' required autofocus /></label>
            <dt><label for=caddress>Cardholder's Address:
                <dd><input type=text name=caddress placeholder="123 Amity St, College Park, GA" title="i.e. Apt 4b 123 Somewhere St, City, State" value='{{ request.form.caddress }}' required /></label>
            <dt><label for=zcode>Zip Code:
                <dd><input type=text name=zcode placeholder="30349" maxlength=5 size=5 pattern="[0-9]{5}" value='{{ request.form.zcode }}' required /><label>
            <dt>Phone #:
            <dd><input type=text name=cphone placeholder="404-555-555" maxlength=12 size=12 pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="i.e. 404-555-5555" value='{{ request.form.cphone }}' required />
            <dt>Email Address:
            <dd><input type=text name=cemail placeholder="anyemail@anymail.com" value='{{ request.form.cemail }}' required />
            <dt>Credit Card #:
            <dd><input type=text name=cccnumber placeholder="xxxx-xxxx-xxxx-xxxx" title="i.e. xxxx-xxxx-xxxx-xxxx" maxlength=19 size=19 pattern=[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4} value='{{ request.form.cccnumber }}' required />
            <dt>CVC:
            <dd><input type=text name=ccvc maxlength=3 size=3 placeholder=111 pattern=[0-9]{3} value='{{ request.form.ccvc }}' required />
            <dt>Select Seating Level:
            <dd><select name=ticket  value='{{ request.form.ticket }}' required>
                <option>($100)Reserved Table Seat</option>
                <option>($50)Reserved Seat Rows A-D</option>
                <option>($50)Reserved Seat Rows E-H</option>
                <option>($50)Reserved Seat Rows I-L</option>
                <option>($50)GA WC Reserved Row M</option>
                <option>($35)General Admission Lawn</option>
                <option>($35)GA WC Accessible Lawn</option>
                </select></dd>
            <dt>Quantity:
            <dd><input type=text name=tquantity maxlength=1 size=1 placeholder=2 pattern=[0-8]{1} value='{{ request.form.tquantity }}'required >
            <dt>Set Security PIN:
            <dd><input type=text name=cpin maxlength=4 size=4 pattern="[0-9]{4}" value='{{ request.form.cpin }}' required />
        </dl>
<label for=dsignature>Digital Signature:
    <input type=checkbox name=dsignature value='{{ request.form.dsignature }}' required /></label>
<br />
<a class="btn btn-warning" href="/purchaseprocess"><span class="glyphicon glyphicon-step-backward"></span>Go Back</a>
<a href ="#" class="btn btn-default">Help <span class="glyphicon glyphicon-eye-close"></span></a><br />
	<button type="submit" value="" class="btn btn-success">Purchase Ticket/s 
        <span class="glyphicon glyphicon-shopping-cart"></span></button>
	<a href ="#" class="btn btn-danger">Reset Form <span class="glyphicon glyphicon-trash"></span></a><br />
    </form></center>
    <p><center>Please,<a href="/realticket"> </a> try it out!</center></p>
    </p>
	<cite>Note: The Event will be determined based on how the customer is redirected from wolfcreekamphitheater.com</cite>
	
	<!--<a href ="#" class="btn btn-danger">Close Event</a>--></center>
	</div>	
</div><br />
{% endblock %}
