{% extends 'template.html' %}
{% block content %}
    <h2>Hello and Welcome to RealTicket:</h2>
    <p>My name is Mr. Jones. I'm the architect of RealTicket Software. I'm the Realmeister!
    The Real Ticket System is being created with a dozen or so key and standard best practices features in mind
    for a hardy and scalable application. It consists of HTML5, CSS3, Javascript, JQuery, Angular.js, SQLite3 and Python Technologies.
   Expect an ever broadening functionality in the near future.
   The main points of interest as far as performance are as follows:
   <ul>
       <li>Portability: All outlets will be able to Log In via any Google Chrome or Mozilla Firebox Browser.</li>
       <li>State-of-the-art ticket tracking functionality with dynamic and uniquely generated scannable qr(Quick Response) codes</li>
       <li>Every week, appropriately listed patrons will recieve a promotional email, via the Blast feature.</li>
       <li>Security is <strong>stellar</strong> with the mod_WSGI and Flask-Security Technologies</li>
       <li>The Stripe API allows me to directly handle Errors concerning mailing addresses that do not match cardholder addresses etc. All transactions will be voided.</li>
       <li>There will be a built in limit of 8 tickets per household via IP addresses*</li>
       <li>The application will be able to work from wolfcreekamphitheater.com or Facebook to seamlessly make transactions.</li>
       <li>The system is set up to cycle and direct all web traffic to and from wolfcreekamphitheater.com</li>
       <li>The system will calculate and format closing statements in CSV format which is effortlessly exported to Excel upon closing and at the request of the Operator/Venue.</li>
       <li>All reports including Demographics will be made available on the Web for signed in Operators/Venue Officials </li>
   </ul>
{% endblock %}
