{% extends 'template.html' %}
{% block content %}
    <h2>Hello and Welcome to RealTicket:</h2>
    <p><h3>There needs to be 3 main functions put in place immediately:

    <ol>
    <li>CreateEvent for the MainOperator</li>
    <li>PurchaseTickets for the TicketCustomer</li>
    <li>AllTransactions for the VenueAdministrator</h3></li>
    </ol>

    </p>
    <h6>We are also keeping in mind the following:</h6>
   <ul>
       <li>Portability: All outlets will be able to Log In via any Google Chrome or Mozilla Firebox Browser.</li>
       <li>State-of-the-art ticket tracking functionality with dynamic and uniquely generated scannable qr(Quick Response) codes</li>
       <li>Every week, appropriately listed patrons will recieve a promotional email, via the Blast feature.</li>
       <li>Security is <strong>stellar</strong> with the mod_WSGI and Flask-Security Technologies</li>
       <li>The Stripe API allows me to directly handle Errors concerning mailing addresses that do not match cardholder addresses etc. All transactions will be voided.</li>
       <li>There will be a built in limit of 8 tickets per household via IP addresses*</li>
       <li>The application will be able to work from wolfcreekamphitheater.com or Facebook to seamlessly make transactions.</li>
       <li>The system is set up to cycle and direct all web traffic to and from wolfcreekamphitheater.com</li>
       <li>The system will calculate and format closing statements in CSV format which is effortlessly exported to Excel upon closing and at the request of the Operator/Venue.</li>
       <li>All reports including Demographics will be made available on the Web for signed in Operators/Venue Officials </li>
   </ul>
{% endblock %}
